<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<div id="floatHome">
    <!-- SEARCH BAR -->
<div id="firstPart">
    <section id="searchBar">
        <div>
            <form action="/search" method="post" id="search" name="search">
                <input type="text" placeholder="Search Location" name="search">
            </form>
        </div>
    </section>

    <!-- HERO SECTION -->


    <section>
        <div id="main">
        <div >
            <h2><%=city%>, <%=country%></h2>
            <p>Chances of rain: </p>
            <h1>31deg</h1>
        </div>
        <div>
            <img src="/images/cloudy.png" alt="" srcset="" height="150px">
        </div>
    </div>
    </section>

    <!-- MORE DETAILS -->


    <section id="details">
        <div id="grid-container">
            <div class="grid-items">
                <!-- icon -->
                <p>Real Feel</p>
                <h1>31deg</h1>
            </div>


            <div class="grid-items">
                <!-- icon -->
                <p>Wind</p>
                <h1>0.2 km/hr</h1>
            </div>


            <div class="grid-items">
                <!-- icon -->
                <p>Chances of Rain</p>
                <h1>0%</h1>
            </div>


            <div class="grid-items">
                <!-- icon -->
                <p>UV Index</p>
                <h1>3</h1>
            </div>


        </div>
    </section>
</div>
    <!--  -->
<div id="secondPart">

</div>
</div>
    <section></section>
    <script src="/js/geolocation.js"></script>
</body>
</html>