body{
    background-color: rgb(6, 6, 28);
    color: white;
}
#searchBar{
    display: flex;
    justify-content: center;
}
#searchBar input{
    width: 100vh;
    border: 20%;
    margin-top: 3%;
    height: 5vh;
    border-radius: 20px;
    background-color: rgb(41, 38, 45);
    color: white;
    border-color: white;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6%;
    gap: 5%;
}
#details{
    display: flex;
    justify-content: center;
    
}
#grid-container{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* gap: 10%; */
    background-color: rgba(66, 66, 127, 0.372);
    border-radius: 20px;
    width: 60%;
    align-items: center;
}
.grid-items{
    padding-right: 10%;
    padding-left: 40%;
    
}
#floatHome{
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

#secondPart{
    background-color: rgba(0, 255, 255, 0.181);
    margin-top: 17%;
    border-radius: 40px;
}

#main h2{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}
#main h1,p{
    font-family: cursive;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}