body{
    background-color: rgb(6, 6, 28);
    color: white;
}
#searchBar{
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-top: 3%;
}
#searchBar input{
    width: 100vh;
    border: 20%;
    margin-top: 3%;
    height: 5vh;
    border-radius: 20px;
    background-color: #06061c;
    color: white;
    border-color: white;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    padding-bottom: 0%;
    gap: 5%;
}
#details{
    display: flex;
    justify-content: center;
    padding-left: 13%;
    
}
#grid-container{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    /* gap: 10%; */
    background-color: rgba(255, 255, 255, 0.095);
    border-radius: 20px;
    width: 60%;
    align-items: center;
}
.grid-items{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    
}
#floatHome{
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    margin-left: 2%;
    margin-right: 10%;
}

#secondPart{
    background-color: rgba(255, 255, 255, 0.095);
    margin-top: 17%;
    border-radius: 40px;
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* text-align: center; */
    padding-top: 8%;
    /* box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.3); */
}

#main h2{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}
#main h1,p{
    font-family: cursive;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}
.grid-items h1{
margin-top: 0;
}

#logoContainer{
    display: flex;
    align-items: start;
}

#logoContainer h1{
    font-size: 30px;
}
#logoContainer a{
    color: white;
    text-decoration: none;
}

#secondPart .tag{
    padding-left: 10%;
/* background-color:rgba(52, 152, 253, 0.485) */

}